In [ ]:
import pymongo 
import pandas as pd

In [ ]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")

db = client['4E']

In [ ]:
db.impianti.find_one()

{'ID_NIL': 1,
 'INDIRIZZO': 'Corso DI PORTA VITTORIA 4',
 'LAT_Y_WGS84': Decimal128('45.4622267523854'),
 'LONG_X_WGS84': Decimal128('9.19750817181182'),
 'Location': '(45.4622267523854, 9.19750817181182)',
 'MUNICIPIO': 1,
 'NIL': 'DUOMO',
 'Sit_NomeImpianto': 'SEDE SIGNORA',
 'Sit_NomeVia': 'DI PORTA VITTORIA',
 'Sit_NumCiv': 4,
 'Sit_StatoImpianto': 'Acceso',
 'Ti_TipoImpianto': 'Altro',
 'Tv_TipoVia': 'Corso',
 '_id': ObjectId('623ca29cf224e8f68db4a268'),
 'gestore': 'A2A S.p.A.'}

# l’elenco degli impianti accesi. Visualizzare solo il nome e l’indirizzo

In [ ]:
result = db.impianti.find({"Sit_StatoImpianto":{"$regex": "Acceso"}},
                           {"INDIRIZZO": 1, "Sit_NomeImpianto": 1, "_id": 0})
df = pd.DataFrame(list(result))
df

,Sit_NomeImpianto,INDIRIZZO
0,SEDE SIGNORA,Corso DI PORTA VITTORIA 4
1,TELESPAZIO S.p.a. - PONTE RADIO TV MILANO/CAMP...,Corso SEMPIONE 27
2,FAMAGOSTA,Via PALATUCCI
3,RIC. OVEST,Via PIANELLA 10
4,MI ROGOREDO WS,Via MONTE PIANA 7
...,...,...
1783,BRUZZANO,Via GALIANI 12
1784,RETE 4,Via FILZI 22
1785,San Galdino,Via SAN GALDINO 5
1786,MILANO CORSO SEMPIONE,Corso SEMPIONE 27
1787,CORSO SEMPIONE,Corso SEMPIONE 27

# gli indirizzi in cui si trovano gli impianti dell’ATM

In [ ]:
result = db.impianti.find({"gestore":{"$regex": "A.T.M."}},
                           {"INDIRIZZO": 1, "gestore": 1, "_id": 0})
df = pd.DataFrame(list(result))
df

,gestore,INDIRIZZO
0,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via PALATUCCI
1,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Località PARCHEGGIO ATM CASCINA GOBBA
2,LATTEMIELE LOMBARDIA S.r.l.,Piazza GRAMSCI 2
3,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via PALATUCCI
4,LATTEMIELE LOMBARDIA S.r.l.,Piazza GRAMSCI 2
5,LATTEMIELE LOMBARDIA S.r.l.,Piazza GRAMSCI 2
6,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via MARIGNANO 51
7,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via PIRELLI 39
8,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via PIRELLI 39
9,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via MONTE ROSA 89
10,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via LARGA 12
11,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via MONTE ROSA 89
12,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via PARRI
13,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Via GATTO 3

# l’elenco degli impianti della Vodafone e della TIM

In [ ]:
result = db.impianti.find({'$or': [{"gestore" : {"$regex": "TIM"}} , {"gestore" :{"$regex": "VODAFONE"}}]})
df = pd.DataFrame(list(result))
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,Sit_NumCiv,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location
0,623ca29cf224e8f68db4a274,MI RIPAMONTI IEO MC,TIM S.p.A.,Microcella,Acceso,Via,RIPAMONTI,435.0,Via RIPAMONTI 435,5.0,85.0,PARCO DELLE ABBAZIE,9.20841157139043,45.415032838182,"(45.415032838182, 9.20841157139043)"
1,623ca29cf224e8f68db4a28c,VF FLAGSHIP,VODAFONE,Microcella,Acceso,Via,LORENTEGGIO,257.0,Via LORENTEGGIO 257,6.0,49.0,GIAMBELLINO,9.12184795545704,45.443448112916,"(45.443448112916, 9.12184795545704)"
2,623ca29cf224e8f68db4a296,MI S.GOTTARDO MC,TIM S.p.A.,Microcella,Acceso,Corso,SAN GOTTARDO,NaN,Corso SAN GOTTARDO,5.0,6.0,PORTA TICINESE - CONCA DEL NAVIGLIO,9.17939792333022,45.4465947712612,"(45.4465947712612, 9.17939792333022)"
3,623ca29cf224e8f68db4a29b,MI ISONZO MC,TIM S.p.A.,Microcella,Acceso,Via,ISONZO,26.0,Via ISONZO 26,5.0,27.0,PTA ROMANA,9.20476978633804,45.447065240011,"(45.447065240011, 9.20476978633804)"
4,623ca29cf224e8f68db4a2b0,EXPO DARSENA NAVIGLI,VODAFONE,Microcella,Acceso,Alzaia,NAVIGLIO GRANDE,46.0,Alzaia NAVIGLIO GRANDE 46,6.0,44.0,PORTA TICINESE - CONCHETTA,9.17171410225414,45.4512781013635,"(45.4512781013635, 9.17171410225414)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,623ca29df224e8f68db4a8d6,CASCINA SAN ROMANELLO,VODAFONE,Telefonia,Acceso SCIA,Via privata,Caio Mario,60.0,Via privata Caio Mario 60,7.0,62.0,QUINTO ROMANO,9.08669228447089,45.4819864842155,"(45.4819864842155, 9.08669228447089)"
729,623ca29df224e8f68db4a8ef,MI LAMBRO,TIM S.p.A.,Telefonia,Acceso SCIA,Via,Feltre,100.0,Via Feltre 100,3.0,18.0,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25095091819635,45.4916092870784,"(45.4916092870784, 9.25095091819635)"
730,623ca29df224e8f68db4a8f4,MONTECENERI,VODAFONE,Telefonia,Acceso SCIA,Viale,MONTE CENERI,36.0,Viale MONTE CENERI 36,8.0,71.0,VILLAPIZZONE - CAGNOLA - BOLDINASCO,9.15451046668729,45.4923382240237,"(45.4923382240237, 9.15451046668729)"
731,623ca29df224e8f68db4a908,VIA DE PREDIS,VODAFONE,Telefonia,Acceso SCIA,Via,Lambruschini,36.0,Via Lambruschini 36,9.0,77.0,BOVISA,9.15163286982169,45.5026031773664,"(45.5026031773664, 9.15163286982169)"
732,623ca29df224e8f68db4a930,BRUZZANO,VODAFONE,Telefonia,Acceso SCIA,Via,GALIANI,12.0,Via GALIANI 12,9.0,80.0,AFFORI,9.16970217863733,45.5224879086439,"(45.5224879086439, 9.16970217863733)"

# gli indirizzi in cui c’è più di un impianto